body {
    background-color: rgb(14, 14, 14);
    color:#84c754;
    font-family: 'Courier New', Courier, monospace;
    line-height: 26px;

}

#top {
    line-height: 18px;

}


.menuitem:hover{
    color: white;
    cursor: pointer;
}

a{
    color: white;
}

a:hover{
    color: #84c754;
}


#sidebar {
    position: absolute;
    right: 0;
    top: 0;
    width: 320px;
    text-align: left;
    font-size: 80%;
    line-height: 20px;

}

#bottom, #sidebar {
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-size: 70%;
    line-height: 14px;
    padding: 10px;

}

.wrapper {
    position: relative;

}